{{#if isAuthenticated }}
<div id="menuDiv">
    <div id="menu">
        <div class="column">
            <span class="menuTitle">LAGA-GENDA</span>
        </div>
        <div class="column">
            <a href="/auth/signout">
                <button class="btn sign">Sign out</button>
            </a>
        </div>
    </div>
</div>
<div id="container">
    <div id="containerHeader">
        <h1>{{title}}</h1>
    </div>
</div>
<div id="wrapper">
    <h2>Liste de mes étudiants :</h2>
    <ul>
        {{#each schedules}}
            <li class="listStudent"><a href="/impersonate/{{idSchedule}}">{{idSchedule}}</a></li>
        {{/each}}
    </ul>
</div>
{{else}}
<p>Welcome to {{title}}</p>
<a href="/auth/signin">Sign in</a>
{{/if}}
